/* Reset básico */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    background-color: #ffffff;
    color: #333;
}

/* Cabecera y menú */
.site-header {
    background-color: #003366;
    color: white;
    padding: 15px 0;
}

.container {
    width: 90%;
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.logo {
    font-size: 1.8rem;
    font-weight: bold;
}

.navbar a {
    color: rgb(255, 255, 255);
    margin-left: 20px;
    text-decoration: none;
    font-weight: 500;
}

.navbar a:hover {
    text-decoration: underline;
}

/* TITULO */
.hero {
    background: url('banner-fim.jpg') no-repeat center center/cover;
    padding: 120px 0;
    text-align: center;
    color: rgb(0, 0, 0);
}

.hero h2 {
    font-size: 2.4rem;
    margin-bottom: 10px;
    color: rgb(0, 3, 81);
    text-shadow: 3px 3px 8px rgba(4, 0, 77, 0.604);
}

/* Secciones */
.info-section {
    padding: 40px 0;
    width: 90%;
    margin: auto;
}

.info-section h2 {
    font-size: 2rem;
    margin-bottom: 15px;
    color: #003366;
}

.info-section p,
.info-section ul {
    margin-top: 10px;
    font-size: 1rem;
}

.info-section ul li {
    list-style: disc inside;
}

/* Pie de página */
.site-footer {
    background-color: #003366;
    color: white;
    text-align: center;
    padding: 15px 0;
    margin-top: 40px;
}